@media print {
  @page {
    size: landscape;
    margin: 1cm; /* optional, customize if needed */
  }

  html,
  body {
    width: 100%;
    height: auto;
    overflow: visible !important;
  }

  table {
    tr {
      th {
        border: 1px solid black;
      }
      td {
        border: 1px solid black;
      }
    }
  }
}
